.dropdown {
    padding: 15px 12px 15px 10px;
    border-radius: 6px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
    border: solid 1px #ffffff;
    background: transparent;
    font-size: 20px;
    color: #97a5a7;
    display: flex;
    /* justify-content: flex-end; */
}
select option {
    margin: 8.6px 11px 0;
    padding: 22px 17px 11.4px;
    opacity: 0.59;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    background-color: transparent;
    color: #ff5155;
    /* color: red; */
}

.selected-item {
    text-transform: uppercase;
    flex-grow: 1;
}

.select-box--container {
    height: 30px;
    border: 1px solid #aaa;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  .select-box--box {
      position: absolute;
      width: 27%;
  }

  .select-box--selected-item {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
    vertical-align: middle;
    opacity: 0.59;
    background-color: #ffffff;
  }

  .select-box--items {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
    vertical-align: middle;
    opacity: 0.59;
    background-color: #ffffff;
  }
  
  .select-box--items div {
    padding: 4px 0px 4px 10px;
    border-radius: 6px;
    /* box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%); */
    /* border: solid 1px #ffffff; */
    /* background: transparent; */
    font-size: 17px;
    color: #97a5a7;
    display: flex;
  }

  .options:hover {
    background-color: #053a45;
    /* color: red; */
  }

@media only screen and (min-width: 320px) and (max-width: 479px) { 
    .select-box--box {
      width: 73%;
    }
}

@media only screen and (min-width: 437px) and (max-width: 767px){ 

}

@media only screen and (min-width: 768px) and (max-width: 1024px){ 
  .select-box--box {
    width: 53%;
  }
}

@media only screen and (min-width: 992px){ 

}
  

.dropdown-box{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dropdown-box > div{
  width: 100%;
}
  
  