.main-header {
    color:#ff5155;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.user {
    display: flex;
    flex-grow: 1;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
.user-icon {
    margin-right: 2%;
}
.fast-finger-text {
    font-size: 2rem;
}
.header-name {
    display: flex;
    flex-direction: column;
}

.header-name > div{
    display: flex;
    justify-content: flex-start;
}
.score {
    text-transform: uppercase;
}