.game{
    display: flex;
    height: 100vh;
    width: auto;
    flex-wrap: wrap;
}

.scoreboard{
    min-height: 70vh;
    width: 30vh;
    border: 2px solid #ff5155;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.5rem;
}

.main-content{
    flex-grow: 1;
}

.left-content{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.main-content{
    margin: 1rem;
    display: grid;
    place-items: center;
}

.right-content{
    margin: 1rem;
}

.item{
    margin-top: 1rem;
}

.stopgame-btn{
    margin-top: 1rem;
    cursor: pointer;
    width: fit-content;
    background: transparent;
}


.game-content{
    min-height: 90vh;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}