.logo {
    width: 234.2px;
    object-fit: contain;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 70vh;
}
.fast-fingers {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    margin-top: 2%;
  }
  .Line-1 {
    width: 53px;
  height: 0;
  border: 1px solid #ff5155;
  margin: 3px;
  display:inline-block;
  }
  .sub-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .typing-game {
    padding: 0 41px 0 10px;
  }
  .ultimate-game {
    padding: 0.5rem 0 1.5rem 0;
  }
  

.loginGrid{
  min-height: 100vh;
  min-width: 100vw;  
  display: grid;
  place-items: center;
}
