* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}

body,
html {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000000, rgba(6, 60, 71, 0.85)), url('./images/backgroundImg.svg');
}

