* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ff5155;
}

#root {
    min-height: 100vh;
}

body,
html {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    height: max-content;
    background-image: linear-gradient(to bottom, #000000, rgba(6, 60, 71, 0.85)), url('./images/backgroundImg.svg');
}

.stopGame{
    display: flex;
}

.gameName{
    display: flex;
}

.userName{
    display: flex;
}

.userDifficulty{
    display: flex;
}

.playAgain{
    display: flex;
}

.stop-game-text{
    display: flex;
}

.scoreboard-title{
  align-self: center;
}

.errorMsg{
  color: #D8000C;
	background-color: #FFBABA;
  font-size: smaller;
}